body {
  background-color: #e3d8d6;
  color: #f3a692;
}

a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 95%;
  line-height: 1.5rem;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.leather {
  background-color: #000000;
  background-image: url("../img/leather.png")
}

.searchbox {
  text-align: end;
  border-radius: 0.5rem;
  background: transparent;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  z-index: 1200;
}

.searchbox:focus {
  border: none;
}

.line {
  border-top: 1px solid white;
}

.menu-btn:hover, .menu-btn:focus {
  background-color: white;
}

.bubble {
  position: fixed;
  background: #ffffff;
  border-radius: .5em;
}

.bubble:after {
  content: '';
  position: absolute;
  top: 0;
  right: 16px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

.card {
  border-radius: 0;
  border: none;
}

.nav-links, .dropdown-item {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: #4c4c4c;
}

.nav-links:hover, .nav-links:focus {
  background-color: white;
  color: #4c4c4c;
  box-shadow: none;
}

.dark-bg {
  background-color: #4c4c4c;
}

@media (min-width: 578px) {
  .space-left {
    margin-left: 10%;
  }
  .space-left-double {
    margin-left: 20%;
  }
  .space-right {
    margin-right: 10%;
  }
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.footer {
  color: white;
  font-size: 90%;
  font-weight: 700;
}